<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joji.taowu.order.mapper.OrderMapper">

    <select id="selectAdminOrders" resultType="com.joji.taowu.common.vo.AdminOrderVO">
        SELECT order_id orderId, user_id userId , COUNT(product_id) productNum , SUM(product_num) orderNum,
                    SUM(product_price) orderPrice, order_time orderTime
                            FROM orders GROUP BY order_id,user_id,orderTime  LIMIT #{offset} , #{number};
    </select>

    <select id="checkOrder" resultType="com.joji.taowu.common.entity.Order">
        SELECT id,order_id,user_id,product_id,product_num,product_price,order_time FROM orders WHERE product_id = #{product_id};
    </select>

</mapper>